body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; /* Light gray background */
  margin: 0;
  padding: 20px;
}

.container {
  display: flex;
  
  justify-content: space-between;
}

.form-card {
  width: 48%;
  background-color: #ffffff; /* White */
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card {
  background-color: #ffffff; /* White */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 30%;
}

.card-content {
  margin-bottom: 20px;
}

.field {
  margin-bottom: 20px;
}

.long_field {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
select,
input[type="datetime-local"],
textarea {
  width: 80%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ced4da; /* Light gray border */
}

button[type="submit"] {
  background-color: #007bff; /* Lucet Health blue */
  color: #ffffff; /* White text */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

button[type="submit"]:focus {
  outline: none;
}

.cases {
  margin-top: 20px;
}

.case {
  background-color: #f4f4f4; /* Light gray case background */
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.case h3 {
  margin: 0;
}

.case p {
  margin-top: 5px;
}

.case.active {
  background-color: #2ebd8b; /* Lucet Health green for active cases */
}

.case.inactive {
  background-color: #ff7979; /* Lucet Health red for inactive cases */
}
/* The rest of your CSS remains unchanged */

.header-divider {
  height: 5px;
  background-color: #851c55; /* Lucet Health header color */
  margin-bottom: 20px;
}
